/vendor/
storage/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/storage/framework
public/storage/logs
public/storage/Noto_Sans_Devanagari.zip
public/hot
public/profile
public/Patientimage
public/prescription_masterhead
# Laravel 5 & Lumen specific with changed public path
# public_html/storage
public_html/hot
storage/logs
storage/framework
storage/logs
storage/*
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
public/assets/uploadspublic/assets/prescription
public/assets/uploads/
public/product_photos
routes/migrate.php
app/Http/Controllers/DeploymentController.php
resources/views/deploy.blade.php